body {
  font-size: 18px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  padding-left: 10px;
  padding-right: 10px;
  position: sticky;
  top:0;
  background-color: white;;
}

.logo {
  text-transform: capitalize;
  font-size: 18px;
  font-weight: bolder;
}

.side-items {
  display: flex;
  align-items: center;
}

.cart {
  width: 40px;
  height: 40px;
  margin-left: 30px;
  border-radius: 50%;
  overflow: hidden;
}

.cart > img {
  width: 100%;
  height: 100%;
}

ul {
  display: flex;
}

nav > ul > li {
  list-style-type: none;
  margin-left: 20px;
}

.res-body {
  padding: 50px;
}

.res-list {
  display: flex;
  flex-wrap: wrap;
}

.res-card {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  max-width: 200px;
  margin:30px;
  padding: 10px;
}

.res-img {
  flex: 1;
  overflow: hidden;
}

.res-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.res-info {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.cue{
  margin-left: 3px;
}

.search-bar{
  padding:10px;
  width:800px;
  margin-left: 30px;
  font-size: 18px;
}
.search-btn{
  padding: 12px 10px;
  margin: 10px;
  font-size: 16px;
}