body {
  font-size: 18px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  padding-left: 10px;
  padding-right: 10px;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10;
}

.logo {
  text-transform: capitalize;
  font-size: 18px;
  font-weight: bolder;
}

.side-items {
  display: flex;
  align-items: center;
}

.cart {
  width: 40px;
  height: 40px;
  margin-left: 30px;
  border-radius: 50%;
  overflow: hidden;
}

.cart > img {
  width: 100%;
  height: 100%;
}

ul {
  display: flex;
}

nav > ul > li {
  list-style-type: none;
  margin-left: 20px;
}

.res-body {
  padding: 50px;
}

.res-list {
  display: flex;
  flex-wrap: wrap;
}

.res-card {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  max-width: 200px;
  margin: 30px;
  padding: 10px;
  height: 400px;
}

.res-card:hover {
  transform: translateY(-5px);
  box-shadow: 1px 10px 30px rgba(0, 0, 0, 0.36);
}

.res-shimmer {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 200px;
  margin: 30px;
  padding: 10px;
  height: 350px;
  background-color: lightgrey;
}

.res-img {
  flex: 1;
  overflow: hidden;
}

.res-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.res-info {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.cue {
  margin-left: 3px;
}

.search-bar {
  padding: 10px;
  width: 800px;
  margin-left: 30px;
  font-size: 18px;
}
.search-btn {
  padding: 12px 10px;
  margin: 10px;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: black;
}


.res-detail{
  display: flex;
  /* flex-wrap: wrap; */
}

.res-menu{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 800px;
  margin-left: 50px;
}

.form-container{
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

.form-container > input, .form-container > button {
  padding: 20px;
  font-size: 18px;
  margin:10px;
}

.form-container > button {
  background-color: rgb(231, 143, 61);
  color: white;
}

.form-container > button:hover{
  background-color: rgb(162, 100, 42);
}